@import '../../../../variables';

.skills {
  p {
    text-align: center;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .skill-img {
      box-shadow: 10px 10px 14px -19px #af2574, -6px -6px 10px $primaryBg;
      padding: 10px 50px;
      border-radius: 10px;
      .img-text {
        img {
          width: 55px;
          height: 77px;
        }
      }
      .img-text:hover {
        transform: scale(1.08);
      }
    }

    p {
      display: none;
      position: absolute;
      border-width: 5px;
      background-color: $primaryBg;
      color: #ffffff;
      padding: 5px 0;
      border-style: solid;
      border-radius: 10px;
      border-color: $primaryBg;
    }
  }

  img:hover + p {
    display: block;
  }

  .service {
    margin-top: 3.125rem;

    p {
      text-align: center;
    }

    .service-containers {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      place-items: center;
      gap: 2rem;

      .service-container {
        width: 100%;
        background: $accentColor;
        color: #ffffff;
        border-radius: 0 0 16px 16px;
        margin-left: 6.5%;
        border: 1px solid $primaryBg;

        .service__head {
          color: #ffffff;
          text-align: center;
          background: $primaryBg;
          border-radius: 0 0 1rem 1rem;
          padding-top: 0.5%;
        }

        .service_list {
          padding: 25px;

          .service__list-icon {
            display: flex;
            align-items: center;
            gap: 7px;
            margin-bottom: 1rem;

            .description {
              text-align: left;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
