.card{
  display: flex;
  justify-content: space-evenly;
  margin: 2% 10%;

  img {
    width: 80px;
    box-shadow: 0 0 15px 0px #af2574;
  }
}
.certifications {
 
  .certified {
    display: flex;
    justify-content: center;
  }
}