#skills {
  p {
    text-align: center;
  }


  .card {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 28%;
    width: 45.33%;
    flex-wrap: wrap;


    .skill-img {
      box-shadow: 0 2px 7px 3px #af2574;
      padding: 10px;
      margin: 20px 10px;

      img {
        width: 80px;
      }

    }

    .skill-img:hover {
      transform: scale(1.2);
    }

    p {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      text-align: center;
      border-width: 5px;
      margin-left: -31px;
      background-color: #AF2575;
      padding: 5px 0;
      border-style: solid;
      border-radius: 10px;
      border-color: #AF2575 transparent transparent transparent;
    }
  }

  img:hover+p {
    display: block;
  }

  .service {
    p {
      text-align: center;
    }

    .service-containers {
      display: flex;
      margin-top: 25px;

      .service-container {
        width: 40%;
        background: #118ba9;
        color: #ffffff;
        border-radius: 0 0 16px 16px;
        margin-left: 6.5%;
        border: 1px solid #AF2575;

        .service__head {
          color: #ffffff;
          text-align: center;
          background: #AF2575;
          border-radius: 0 0 1rem 1rem;
          padding-top: 0.5%;
        }

        .service_list {
          padding: 25px;

          .service__list-icon {
            display: flex;
            gap: 7px;
            margin-bottom: 14px;

            .description {

              text-align: left;
            }
          }

        }

      }

    }

  }
}

@media screen and (max-width: 1024px) {
  .service-containers {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .service-containers {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }


}