#projects{
    padding-top: 25px;
    p{
      text-align: center;
    }
}

.project-card {
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #AF2575;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 5px 3px #af2574;
  margin-left: 41px;
  padding: 20px;
  .img-div {
    .project-image{
      width: 300px;
      height: 200px;
    }
  }

}
.project-card:hover{
  transform: scale(1.04);
}
.projectsViewAll {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;

 a {
  text-decoration: none;
 }
 .js15 {
   
    border: none;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: inherit;
    border-radius: 45px;
    font-size: 18px;
    font-family: var(--primaryFont);
    font-weight: 500;
    padding-left: 1.5rem;
    cursor: pointer;
    color: #eaeaea;
    transition: color 0.2s;
    background-color: #AF2574;

  }  
  .js16 {
    color: #eaeaea;
    width: 35px;
    cursor: pointer;
    height: 35px;
    padding: 8px;
    margin-right: 5px;
    transition: background-color 0.2s;
    border-radius: 50%;
    background-color: #118ba9;
  }
}
.subProject {
  display: flex;
  margin: 20px 107px 0px 95px;
}