#about {
  margin-top: 35px;
.about-test {
  display: flex;
  justify-content: initial;
  margin: 2% 7% 2% 25%;
  text-align: center;
  width: 50%;
}

.profile-image img{
  box-shadow: 0 0 20px 0px #48b6d1;
  width: 80%;  
}

}