@import '../../../../variables';

.about {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      color: $primaryBg;
      margin: 0;
    }

    img {
      box-shadow: 0 0 20px 0px $accentColor;
      width: 17rem;
      border-radius: 25px 95px 35px 100px;
      border-right: 12px solid $primaryBg;
      border-left: 12px solid $accentColor;
      transition: $transition;
    }
    img:hover {
      transform: scale(1.08);
    }
  }
}

@media screen and (min-width: 767px) {
  .about {
    &__content {
      flex-direction: row;
    }
  }
}
