#about {
  margin-top: 35px;
.about-test {
  display: flex;
  justify-content: space-between;
  margin: 0% 7% 0% 7%;
  text-align: center;
}

.profile-image{
  margin-left: 40px;
  box-shadow: 0 0 20px 0px #8a5692;
}

}