.home-page {
    text-align: center;
    padding-top: 4%;

    .text-zone {
        font-weight: bold;
        justify-content: space-evenly;
        width: 50%;
        padding: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.45);
        box-shadow: #933F6A 4px 2px 15px;
        z-index: 2;
        margin-left: 23%;
        border-radius: 25px;
    }

    .connect {
        width: 10%;
        padding: 7px;
        background-image: linear-gradient(120deg, #d0488e 40%, #ffbe9c);
        text-decoration: none;
        color: white;
        border-radius: 7px;
        font-weight: bold;
        cursor: pointer;
    }

    .title {
        height: 45px;
        overflow: hidden;
    }

    .title-wrapper {
        height: 100%;
        align-content: space-between;
        animation: move 5s ease-in-out infinite alternate;
    }

    @keyframes move {
        25% {
            transform: translateY(-50px);
        }

        50% {
            transform: translateY(-100%);
        }

        75% {
            transform: translateY(-150px);
        }

        100% {
            transform: translateY(-200px);
        }
    }

    .title-item {
        height: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #933F6A;
        // display: flex;
        // align-items: center;
    }
}