.home-page {

    background-color: #000;
    height: 500px;

    .coverImage {

        .Into-img {
            opacity: 0.3;
            background-size: cover;
            background-position: center;
        }

    }



    .text-zone {
        font-weight: bold;
        justify-content: space-evenly;
        width: 40%;
        padding: 20px;
        color: white;
        background-color: rgb(16 126 146 / 51%);
        box-shadow: inset #af2574 2px 0px 20px 2px;
        ;
        z-index: 2;
        text-align: center;
        border-radius: 25px;
        transform: translate(80%, -21rem);

        .connect {

            padding: 7px 0px;
            cursor: pointer;
            margin-top: 3%;
        }

        .connect a {
            text-decoration: none;
            color: white;
        }
    }


    .title {
        height: 45px;
        overflow: hidden;
    }

    .title-wrapper {
        height: 100%;
        align-content: space-between;
        animation: move 5s ease-in-out infinite alternate;
        margin-bottom: 20px;
    }

    @keyframes move {
        25% {
            transform: translateY(-50px);
        }

        50% {
            transform: translateY(-100%);
        }

        75% {
            transform: translateY(-150px);
        }

        100% {
            transform: translateY(-200px);
        }
    }

    .title-item {
        height: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #af2574;
        
    }


}

@media screen and (max-width: 640px) {
    
    
}