.home-page {
    text-align: center;
    padding-top: 4%;
    .text-zone {
        font-weight: bold;
        justify-content: space-evenly;
        width: 40%;
        padding: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.45);
        box-shadow: #8a5692 4px 2px 15px;
        z-index: 2;
        margin-left: 30%;
        border-radius: 25px;
        .connect {
            width: 25%;
            padding: 7px;
            background-image: linear-gradient(80deg, #AF2574 40%, #118ba9);
            border-radius: 7px;
            cursor: pointer;
            margin-left: 37%;
            margin-top: 3%;
        }   
        .connect a{
            text-decoration: none;
            color: white;
        }
    }


    .title {
        height: 45px;
        overflow: hidden;
    }

    .title-wrapper {
        height: 100%;
        align-content: space-between;
        animation: move 5s ease-in-out infinite alternate;
        margin-bottom: 20px;
    }

    @keyframes move {
        25% {
            transform: translateY(-50px);
        }

        50% {
            transform: translateY(-100%);
        }

        75% {
            transform: translateY(-150px);
        }

        100% {
            transform: translateY(-200px);
        }
    }

    .title-item {
        height: 50px;
        font-size: 30px;
        font-weight: 700;
        color: #933F6A;
        // display: flex;
        // align-items: center;
    }
}