.main {
  align-items: center;
  
  .navbar {
    display: flex;
    background: hsla(0, 0%, 100%, .5);    
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: #AF2574;
    z-index: 1;
    
    .rightSide {
      margin-left: 12%;
      margin-top: 4px;
    }

    .logo img {
      height: 38px;
      border-radius: 60%;

    }

    .leftSide {
      cursor: pointer;
      vertical-align: middle;
      justify-self: center;
      font-weight: 400;
      padding: 12px 12%;
    }

    .leftSide a {
      margin-left: 20px;
      text-decoration: none;
      color: white;
    }

    .text:active{
      border-bottom: 0.2em solid #933F6A;
    }
  }


}
