.main{ 
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #460b38;
}
.navbar{
 
  padding-left: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li{
  display: unset;
  border-radius:20px;
  margin-left: 40px;

}
.navbar a{
  text-decoration: none;
  color: white;
}
.logo img{
  height: 50px;
  border-radius: 30px;
}
