@import '../../../../variables';

.svgcolor-light {
  box-shadow: 0px -6px 6px 0px $primaryBg;
}

#contact {
  position: relative;
  .container {
    padding: 0;
  }
}

.contact {
  p {
    text-align: center;
    color: $accentColor;
  }
  .connection {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 20px;
  }

  .footer__socials {
    text-align: center;
    margin: 25px 25px;
    h3 {
      color: $primaryBg;
    }

    .social_icons {
      display: flex;
      justify-content: center;
      margin: inherit;

      .icon {
        display: inline-block;
        background: #ffffff;
        border-radius: 25px;
        cursor: pointer;
        height: 45px;
        width: 45px;
        margin: 0 10px;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
        transition: all 0.3s ease-out;

        a {
          font-size: 18px;
          line-height: 50px;
          color: $primaryBg;
        }
      }
    }
  }
  img {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .contact img {
    display: block;
  }
}
