.footer {
   padding: 15px;
   text-align: center;
   background: linear-gradient(0deg, #AF2575 0%, rgb(255, 255, 255) 95%);
 
    .arrow-up img {        
        height: 50px;
        position: fixed;
        bottom: 35px;
        right: 35px;
        border-radius: 40px;
        cursor: pointer;
        box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
        transition: all 0.3s ease-out
        
    }

    .arrow-up {
        display: inline;
    }
}
