.footer {
   
    width: 100%;
    background: linear-gradient(
        0deg, rgb(139 49 95) 0%, rgb(255, 255, 255) 50%);
    /* height: 100vh; */
}
.arrow-up{
    height: 80px;
    float: right;
    
}
.arrow-up :hover{
    filter: drop-shadow(12px 5px 22px #5bcb8b);
}
.footer-text {
    color: #460b38;
    text-align: center;
    
}