.footer {
    padding: 15px;
   background: linear-gradient(0deg, rgb(140, 30, 95) 0%, rgb(255, 255, 255) 95%);
 
    .arrow-up img {        
        height: 70px;
        position: fixed;
        bottom: 35px;
        right: 35px;
        cursor: pointer;
        
    }
}
