* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  
  font-family: "Cabin",sans-serif;
}

body {
   font-family: "IBM Plex Serif",serif;
   scroll-behavior: smooth;
   position: relative;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}